/*general styles*/
* {
    --topColor: black;
    --topTextColor: whitesmoke; 
    --mainColor: #222831;
    --mainText: #black;
    --footerColor: #222831;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* header styles */

header{
    background-color: var(--topColor);
    color: var(--topTextColor);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header form{
    margin-bottom: 8px;
}

/*Main Div styles*/

.mainDiv{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mainColor);
}

.weatherInfoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    margin: 8px;
}

/*footer styles*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: var(--footerColor);
}

footer p a img {
    width: 1em;
}

a{
    padding-left: .2em;
}

a:visited {
    color: blue;
}

/* Add media queries for smaller screen sizes */
@media only screen and (max-width: 650px) {
    /* Adjust the height of mainDiv for smaller screens */
    .mainDiv {
        height: 50%; /* Adjust height automatically based on content */
    }
}